<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Cafename</th>
      <th>Roomname</th>
      <th>Capacity</th>
      <th>Theme</th>
      <th>Level</th>
      <th>Cafeimgurl</th>
      <th>Roomimgurl</th>
      <th>Addr</th>
      <th>Etc</th>
      <th>html</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.region %></td>
        <td><%= room.cafename %></td>
        <td><%= room.roomname %></td>
        <td><%= room.capacity %></td>
        <td><%= room.theme %></td>
        <td><%= room.level %></td>
        <td><%= room.cafeimgurl %></td>
        <td><%= room.roomimgurl %></td>
        <td><%= room.addr %></td>
        <td><%= room.etc %></td>
        <td><%= room.maphtml %> </td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Import Excel File </h2>

<%= form_tag import_rooms_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>



